*.csv
*.json
*.pyc
*.npy
*.png
*.h5
.ipynb_checkpoints
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/evaluation_results/model_epoch_2/model.safetensors
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/evaluation_results/model_epoch_4/model.safetensors
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/evaluation_results/model_epoch_3/model.safetensors
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/evaluation_results/model_epoch_6/model.safetensors
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/evaluation_results/model_epoch_5/model.safetensors
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/evaluation_results/model_epoch_1/model.safetensors
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/models/Zorgon/fine_model_best_Zogron_lr_3.90680697979798e-05_epoch_1.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/models/Zorgon/fine_model_best_Zogron_lr_2.0988e-07_epoch_5.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/models/Zorgon/fine_model_best_Zogron_lr_2.354410909090909e-06_epoch_6.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/models/Zorgon/fine_model_best_Zogron_lr_2.972529090909091e-06_epoch_3.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/models/Zorgon/fine_model_best_Zogron_lr_2.8937464646464648e-06_epoch_4.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/models/Zorgon/fine_model_best_Zogron_lr_4.214827272727273e-06_epoch_2.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/models/Blipland/fine_model_best_Blipland_lr_3.751609686868687e-05_epoch_1.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/models/Blipland/fine_model_best_Blipland_lr_1.7524551515151517e-06_epoch_3.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/models/Blipland/fine_model_best_Blipland_lr_3.7737995959595965e-06_epoch_2.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_1/models/Blipland/fine_model_best_Blipland_lr_3.0573719191919195e-06_epoch_4.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_2/models/fine_model_best_Blipland_lr_1.7019827575757578e-05_epoch_3.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_2/models/fine_model_best_Blipland_lr_1.604341808080808e-05_epoch_2.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_2/models/fine_model_best_Blipland_lr_3.3095624141414144e-05_epoch_1.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_2/models/fine_model_best_Zogron_lr_2.6476459595959595e-06_epoch_5.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_2/models/fine_model_best_Zogron_lr_2.924047474747475e-06_epoch_4.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_2/models/fine_model_best_Zogron_lr_2.760770202020202e-06_epoch_3.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_2/models/fine_model_best_Zogron_lr_4.547461616161616e-06_epoch_2.pt
sub_validations/learning_rate_studies/lr_loss_searcher/per_epoch_replica_2/models/fine_model_best_Zogron_lr_3.7775227777777776e-05_epoch_1.pt
sub_validations/learning_rate_studies/lr_loss_searcher/3_epoch_search/models/fine_model_best_Blipland.pt
sub_validations/learning_rate_studies/lr_loss_searcher/3_epoch_search/models/fine_model_best_Zogron.pt
sub_validations/learning_rate_studies/HT_LR_predictor_studier/evaluation_results/model_20240710_235311/model.safetensors
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/0/pythia-410m_lr0.0001_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/1/pythia-410m_lr1e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/2/pythia-410m_lr1e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/3/pythia-410m_lr1e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/4/pythia-410m_lr1e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/5/pythia-410m_lr5.5e-05_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/6/pythia-410m_lr5.5e-05_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/7/pythia-410m_lr5.5e-05_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/8/pythia-410m_lr1e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/9/pythia-410m_lr1e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/10/pythia-410m_lr5.5e-05_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/11/pythia-410m_lr1e-05_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/12/pythia-410m_lr1e-05_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/13/pythia-410m_lr5.499999999999999e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/14/pythia-410m_lr0.0001_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/15/pythia-410m_lr1e-05_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/16/pythia-410m_lr1e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/17/pythia-410m_lr1e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/18/pythia-410m_lr5.499999999999999e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/19/pythia-410m_lr5.499999999999999e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/20/pythia-410m_lr0.0001_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/21/pythia-410m_lr5.499999999999999e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/22/pythia-410m_lr1e-05_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/23/pythia-410m_lr1e-05_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/24/pythia-410m_lr5.499999999999999e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning_5epochs_models/25/pythia-410m_lr5.499999999999999e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/0/pythia-410m_lr0.0055000000000000005_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/1/pythia-410m_lr0.00055_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/2/pythia-410m_lr5.499999999999999e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/3/pythia-410m_lr0.001_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/4/pythia-410m_lr0.0055000000000000005_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/5/pythia-410m_lr0.001_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/6/pythia-410m_lr0.0001_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/7/pythia-410m_lr5.499999999999999e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/8/pythia-410m_lr0.001_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/9/pythia-410m_lr0.00055_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/10/pythia-410m_lr1e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/11/pythia-410m_lr1e-05_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/12/pythia-410m_lr0.001_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/13/pythia-410m_lr1e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/14/pythia-410m_lr1e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/15/pythia-410m_lr0.001_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/16/pythia-410m_lr0.001_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/17/pythia-410m_lr5.5e-05_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/18/pythia-410m_lr5.499999999999999e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/19/pythia-410m_lr1e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/20/pythia-410m_lr0.0055000000000000005_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/21/pythia-410m_lr5.499999999999999e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/22/pythia-410m_lr0.0001_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/23/pythia-410m_lr5.499999999999999e-06_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/24/pythia-410m_lr5.5e-05_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/0_no_learning_5epochs/25/pythia-410m_lr5.5e-05_epochs5.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/0/pythia-410m_lr5.5e-05_epochs4.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/1/pythia-410m_lr1e-05_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/2/pythia-410m_lr5.5e-05_epochs4.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/3/pythia-410m_lr1e-05_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/4/pythia-410m_lr1e-05_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/5/pythia-410m_lr5.5e-05_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/6/pythia-410m_lr5.499999999999999e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/7/pythia-410m_lr5.499999999999999e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/8/pythia-410m_lr1e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/9/pythia-410m_lr1e-05_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/10/pythia-410m_lr1e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/11/pythia-410m_lr0.0001_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/12/pythia-410m_lr5.499999999999999e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/13/pythia-410m_lr5.499999999999999e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/14/pythia-410m_lr1e-05_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/15/pythia-410m_lr5.5e-05_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/16/pythia-410m_lr5.499999999999999e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/17/pythia-410m_lr0.00055_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/18/pythia-410m_lr1e-05_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/19/pythia-410m_lr5.5e-05_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/20/pythia-410m_lr5.499999999999999e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/21/pythia-410m_lr0.0055000000000000005_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/22/pythia-410m_lr1e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/23/pythia-410m_lr5.499999999999999e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/24/pythia-410m_lr1e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/50_100_high_learning/25/pythia-410m_lr1e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/0/pythia-410m_lr4.6e-05_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/1/pythia-410m_lr1e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/2/pythia-410m_lr1e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/3/pythia-410m_lr1e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/4/pythia-410m_lr8.2e-05_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/5/pythia-410m_lr4.599999999999999e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/6/pythia-410m_lr1e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/7/pythia-410m_lr4.599999999999999e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/8/pythia-410m_lr0.0001_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/9/pythia-410m_lr8.2e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/10/pythia-410m_lr6.4e-05_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/11/pythia-410m_lr2.7999999999999994e-06_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/12/pythia-410m_lr6.4e-05_epochs2.pth
sub_validations/learning_rate_studies/HT_LR_predictor_studier/1_50_medium_learning/13/pythia-410m_lr0.0001_epochs2.pth
sub_validations/embedding_ae_analysis/utterance_embeddings_ds1.h5
cl_cr3/pipeline/experiments/MyExperiment/iteration_5/training/LAURA_1/model.safetensors
cl_cr3/pipeline/experiments/MyExperiment/iteration_5/ae_analysis/trained_autoencoder.pth
cl_cr3/pipeline/experiments/MyExperiment/iteration_4/training/LAURA_1/model.safetensors
cl_cr3/pipeline/experiments/MyExperiment/iteration_4/ae_analysis/trained_autoencoder.pth
cl_cr3/pipeline/experiments/MyExperiment/iteration_3/training/LAURA_1/model.safetensors
cl_cr3/pipeline/experiments/MyExperiment/iteration_3/ae_analysis/trained_autoencoder.pth
cl_cr3/pipeline/experiments/MyExperiment/iteration_2/training/LAURA_1/model.safetensors
cl_cr3/pipeline/experiments/MyExperiment/iteration_2/ae_analysis/trained_autoencoder.pth
cl_cr3/pipeline/experiments/MyExperiment/iteration_1/training/LAURA_1/model.safetensors
cl_cr3/pipeline/experiments/MyExperiment/iteration_1/ae_analysis/trained_autoencoder.pth
.git/objects/pack/pack-a0c98d0452c2370aac66383aa22d09b46c588083.pack
