<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigChat</title>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="light-mode">
    <div class="navbar">
        <button id="home-button" class="nav-btn">BigChat</button>
        <div class="nav-center">
            <button id="projects-button" class="nav-btn">Projects</button>
        </div>
        <div class="nav-right">
            <button class="profile-btn">C</button>
        </div>
    </div>
    <div class="container">
        <div class="left-side">
            <div id="conversation" class="conversation"></div>
            <form id="chat-form">
                <input type="text" id="input_text" name="input_text" placeholder="Type your message here..." required>
                <button type="submit" class="btn">Send</button>
            </form>
        </div>
        <div class="right-side">
            <div id="experiment-name-display">Experiment Name: <span id="displayed-experiment-name">none</span></div>
            <div class="toggle-buttons">
                <button id="toggle-view" class="btn">Show Visualizations</button>
            </div>
            <div id="visualization-container" class="content-container">
                <svg id="tsne-visual" class="visualization" width="600" height="400"></svg>
                <div id="grid-visual" class="visualization" width="800" height="600"></div>
            </div>
            <div id="form-container" class="content-container active">
                <form id="experiment-form">
                    <label for="experiment_name">Experiment Name:</label>
                    <input type="text" id="experiment_name" name="experiment_name" placeholder="test" value="test">
            
                    <button type="button" id="dark-mode-btn" class="btn">Dark Theme</button>
            
                    <div id="custom-settings">
                        <h3>Model Configuration</h3>
                        <label for="model_name">Model Name:</label>
                        <input type="text" id="model_name" name="model_name" value="gpt-3.5-turbo">
            
                        <label for="num_inferences">Number of Inferences:</label>
                        <input type="number" id="num_inferences" name="num_inferences" value="2">
            
                        <label for="max_tokens">Max Tokens:</label>
                        <input type="number" id="max_tokens_min" name="max_tokens_min" placeholder="Min" value="50">
                        <input type="number" id="max_tokens_max" name="max_tokens_max" placeholder="Max" value="150">
            
                        <label for="temperature">Temperature:</label>
                        <input type="number" step="0.1" id="temperature_min" name="temperature_min" placeholder="Min" value="0.5">
                        <input type="number" step="0.1" id="temperature_max" name="temperature_max" placeholder="Max" value="1.0">
            
                        <label for="top_p">Top P:</label>
                        <input type="number" step="0.1" id="top_p_min" name="top_p_min" placeholder="Min" value="0.5">
                        <input type="number" step="0.1" id="top_p_max" name="top_p_max" placeholder="Max" value="0.9">
            
                        <h3>Embedding Models Configuration</h3>
                        <label for="embed_models">Embedding Model Names (comma seperated):</label>
                        <input type="text" id="embed_model_name" name="embed_model_name" value="text-embedding-3-small,text-embedding-3-large">

                        <h3>Autoencoder Configuration</h3>
                        <label for="input_size">Input Size:</label>
                        <input type="number" id="input_size" name="input_size" value="1000">
            
                        <label for="hidden_size">Hidden Size:</label>
                        <input type="number" id="hidden_size" name="hidden_size" value="512">
            
                        <label for="learning_rate">Learning Rate:</label>
                        <input type="number" step="0.001" id="learning_rate" name="learning_rate" value="0.001">
                    </div>
                </form>
            </div>
            <div id="response"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='visualizations.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const params = new URLSearchParams(window.location.search);
            const projectName = params.get('project');
            if (projectName) {
                fetch(`/project_data/${projectName}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            populateChatWindow(data);
                        }
                    })
                    .catch(error => console.error('Error fetching project data:', error));
            }
        });
        function populateChatWindow(projectData) {
            const conversation = document.getElementById('conversation');
            conversation.innerHTML = '';  // Clear existing content
        
            projectData.steps.forEach((step, stepIndex) => {
                // Insert user's input
                const userInput = step.step_config.input_text;
                const userMessage = document.createElement('div');
                userMessage.className = 'message user';
                userMessage.dataset.stepIndex = stepIndex;
                userMessage.innerText = userInput;
                conversation.appendChild(userMessage);
        
                // Insert a single randomly chosen response
                const responses = step.responses;
                const randomResponse = responses[Math.floor(Math.random() * responses.length)];
                const botMessage = document.createElement('div');
                botMessage.className = 'message bot';
                botMessage.dataset.stepIndex = stepIndex;
                botMessage.innerText = randomResponse;
                conversation.appendChild(botMessage);
            });
        
            document.getElementById('displayed-experiment-name').innerText = projectData.name;
        
            // Use the latest step's data for initial visualizations
            updateVisualizations(projectData.steps.length - 1, projectData);
        
            // Add click event listeners for messages
            document.querySelectorAll('.message').forEach(message => {
                message.addEventListener('click', function () {
                    const stepIndex = parseInt(this.dataset.stepIndex);
                    updateVisualizations(stepIndex, projectData);
                    highlightMessage(stepIndex);
                });
            });
        }
        
        function updateVisualizations(stepIndex, projectData) {
            const step = projectData.steps[stepIndex];
        
            if (step.tsne_data && step.tsne_data.embeddings) {
                createTSNEVisualization(step.tsne_data.embeddings, step.responses);
            } else {
                console.log('No TSNE data available for step', stepIndex);
            }
        
            if (step.grid_data && step.grid_data.embeddings) {
                createGridVisualization(step.tsne_data.embeddings, step.responses);
            } else {
                console.log('No Grid data available for step', stepIndex);
            }
        }
        
        function highlightMessage(stepIndex) {
            document.querySelectorAll('.message').forEach(message => {
                message.classList.remove('highlight');
                if (parseInt(message.dataset.stepIndex) === stepIndex) {
                    message.classList.add('highlight');
                }
            });
        }



    </script>
</body>
</html>
